@use 'tailwindcss' as tailwind;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
}

.section-title {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media all and (max-width: 576px) {
  .container {
    max-width: calc(100% - 32px);
    margin: auto;
  }
}
@media all and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
}
@media all and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: auto;
  }
}
@media all and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: auto;
  }
}
@media all and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}
@media all and (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: auto;
  }
}
